---
const { hrefButton, service, details, icon, price = '', button } = Astro.props
import Button from './Button.astro'
---

<div class="effect m-auto flex max-w-72 flex-col gap-3 rounded-lg bg-lightGreen p-12 shadow-lg">
	<p class="text-xl font-bold text-black">{service}</p>
	<span>{icon}</span>
	<p class="text-sm">{details}</p>
	<span>{price}</span>
	<a target="_blank" class="mx-auto w-fit" no-referrer href={hrefButton}>
		<Button>{button}</Button>
	</a>
</div>
