---
const { hrefButton, service, details, price = '', button } = Astro.props
import Button from './Button.astro'
---

<div
	class="md:animation grid h-[400px] w-96 grid-cols-1 grid-rows-4 rounded-lg bg-lightGreen p-12 leading-6 shadow-lg transition-all duration-500 md:hover:bg-darkGreen md:hover:text-white md:hover:shadow-xl md:hover:shadow-slate-950"
>
	<h1 class="text-xl font-bold">{service}</h1>
	<p class="row-span-2">{details}</p>
	<span>{price}</span>
	<a target="_blank" class="mx-auto w-fit" no-referrer href={hrefButton}>
		<Button>{button}</Button>
	</a>
</div>
