---
const linkStyle = 'md:hover:text-lightRed text-white uppercase'
const colStyle = 'blog-links flex flex-col gap-4'
---

<div class="mx-auto flex h-80 max-w-7xl flex-col pt-8 md:flex-row md:justify-around">
	<div class={colStyle}>
		<a class={linkStyle} href="#">Ciudadanía italiana</a>
		<a class={linkStyle} href="#">Residencia en Italia</a>
		<a class={linkStyle} href="#">Codice fiscale</a>
		<a class={linkStyle} href="#">Declaración de presencia</a>
		<a class={linkStyle} href="#">Carta de identidad</a>
	</div>
	<div class={colStyle}>
		<a class={linkStyle} href="#">Ciudadanía</a>
		<a class={linkStyle} href="#">Codice</a>
		<a class={linkStyle} href="#">Pec</a>
		<a class={linkStyle} href="#">Declaración</a>
	</div>
</div>
