---
const linkStyle = 'md:hover:text-lightRed text-white uppercase text-xs md:text-md'
const colStyle = 'blog-links flex flex-col gap-4'
---

<section
	class="flex h-80 max-w-7xl justify-center gap-4 pt-8 text-sm md:mx-auto md:flex-row md:justify-around"
>
	<div class={colStyle}>
		<a class={linkStyle} href="/blog/paso-a-paso">Ciudadanía italiana</a>
		<a class={linkStyle} href="/blog/fijar-residencia">Residencia en Italia</a>
		<a class={linkStyle} href="/blog/codice-fiscale">Codice fiscale</a>
		<a class={linkStyle} href="/blog/declaracion-de-presencia">Declaración de presencia</a>
		<a class={linkStyle} href="/blog/carta-identidad">Carta de identidad</a>
		<a class={linkStyle} href="/blog/obtener-pasaporte-italiano">Pasaporte</a>
	</div>
	<div class={colStyle}>
		<a class={linkStyle} href="/about">Quienes somos</a>
		<a class={linkStyle} href="/services">Servicios</a>
		<a class={linkStyle} href="/#contact">Contacto</a>
	</div>
</section>
