---
import Layout from '../../layouts/Layout.astro'
const linkStyle =
	'md:text-lg text-bold rounded-lg p-2 bg-darkGreen text-white md:hover:bg-lightGreen'
---

<Layout title="Servicios - Italo ADN">
	<section
		class="mx-auto flex min-h-screen place-content-center flex-col gap-3 bg-slate-100 py-40 md:text-2xl"
	>
		<h2 class="text-center mb-10 text-3xl">Estos son los servicios que tenemos disponibles:</h2>
		<ul class="mx-auto flex w-3/4 flex-col gap-3 text-center md:w-1/3">
			<a href="/servicios/actas-italianas"
				><li class={linkStyle}>Búsqueda de partidas italianas</li></a
			>
			<a href="/servicios/asesoria"><li class={linkStyle}>Asesoría personalizada</li></a>
			<a href="/servicios/control-carpeta"><li class={linkStyle}>Control de carpetas</li></a>
			<a href="/servicios/investigacion"><li class={linkStyle}>Investigación genealógica</li></a>
			<a href="/servicios/traducciones"><li class={linkStyle}>Traducciones</li></a>
			<a href="/servicios/actas-españolas"><li class={linkStyle}>Pedido de actas españolas</li></a>
		</ul>
	</section>
</Layout>

<style>
	fieldset {
		border: 1px solid black;
		padding: 20px;
		width: 100%;
	}
</style>
